<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {{ $template := resources.Get "sass/main.scss" }} {{ $style := $template |
  resources.ExecuteAsTemplate "main.scss" . | toCSS | postCSS (dict "config"
  "postcss.config.js") | fingerprint | resources.PostProcess }}
  <link
    rel="stylesheet"
    href="{{ $style.RelPermalink }}"
    integrity="{{ $style.Data.Integrity }}"
  />

  {{ range .Site.Params.CustomCSS }} {{ $style := . | postCSS | minify |
  fingerprint }}
  <link
    rel="stylesheet"
    href="{{ $style.RelPermalink }}"
    integrity="{{ $style.Data.Integrity  }}"
  />
  {{ end }} {{ $title := print .Site.Title " | " .Title }} {{ if .IsHome }}{{
  $title = .Site.Title }}{{ end }}
  <title>{{ $title }}</title>
</head>
